<div class="badlav-footer bg-light pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <h5 class="badlav-footer-title">COMPANY</h5>
                <ul class="list-unstyled">
                    <li class="media">
                        <a href="/about">About</a>
                    </li>
                    <li class="media">
                        <a href="/impact">Impact</a>
                    </li>
                    <li class="media">
                        <a href="/careers">Careers</a>
                    </li>
                    <li class="media">
                        <a href="/team">Team</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12">
                <h5 class="badlav-footer-title">COMMUNITY</h5>
                <ul class="list-unstyled">
                    <li class="media">
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12">
                <h5 class="badlav-footer-title">SUPPORT</h5>
                <ul class="list-unstyled">
                    <li class="media">
                        <a href="/help">Help</a>
                    </li>
                    <li class="media">
                        <a href="/guides">Guides</a>
                    </li>
                    <li class="media">
                        <a href="/privacy">Privacy</a>
                    </li>
                    <li class="media">
                        <a href="/policies">Policies</a>
                    </li>
                    <li class="media">
                        <a href="/cookies">Cookies</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12">
                <h5 class="badlav-footer-title">CONNECT</h5>
                <ul class="list-unstyled">
                    <li class="media">
                        <a href="/twitter">Twiiter</a>
                    </li>
                    <li class="media">
                        <a href="/facebbok">Facebook</a>
                    </li>
                    <li class="media">
                        <a href="/instagram">Instagram</a>
                    </li>
                    <li class="media">
                        <a href="/youtube">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>